::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	-webkit-transition: all 0.3s ease-in-out;
/*	background-color: #000000;*/
}

::-webkit-scrollbar-button:start:decrement  {
	-webkit-border-radius: 6px;
	height: 0px;
	display: block;
	background-color: transparent;
}

::-webkit-scrollbar-button:end:increment {
	height: 7px;
	display: block;
	background-color: transparent;
}

::-webkit-scrollbar-track-piece  {
	margin-right: 10px !important;
	background-color: #000000;
	-webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
	height: 50px;
	background-color: #9a9a9a;
	-webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical:hover, ::-webkit-scrollbar-thumb:horizontal:hover {
	background-color: #5e5e5e;
	-webkit-box-shadow: 0 0 2px #ccc;
}