@charset "UTF-8";


a, a:link, .clickable {
	color:#8888BB;
	text-decoration:none;
	cursor:pointer;
}

html {
	height:100%;
	width: 100%;
}
body {
	font-family:"Myriad Pro", Myriad, Verdana, Helvetica, Arial, sans-serif;
	margin: 0px;
	padding:0px;
	height: 100%;
	width:  100%;
	color:  #666666;
	display:block;
}

fieldset {
	-khtml-border-radius:5px;
}

legend {
	font-weight:bold;
	font-size:14px;
}

h1, h2, h3, h4, h5 {
	padding:0;
	margin:0;
}

#container {
	overflow:hidden;
	background-color:#FFFFFF;
	-khtml-border-radius:5px;
	top:	8px;
	left:	8px;
	bottom:	8px;
	right:	8px;
	position: fixed;
	border:1px solid #cccccc;
	/*-webkit-box-shadow:5px 5px 10px #333333;*/

}



#header {
	background:#FFFFFF;
	color:#CCCCCC;
	font-size:22px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	padding:0;
	text-align:left;
	position:absolute;
	height:30px;
	top:    0px;
	left:  10px;
	right: 10px;
/*	-khtml-border-top-left-radius:5px;
	-khtml-border-top-right-radius:5px;*/
	cursor: move;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-weight: normal;
}

#window-buttons {
	position:absolute;
	right:	-3px;
	top:	-6px;
	text-align:right;
}

.window-button {
	padding:0px 4px 2px;
	color:#CCCCCC;
	background-color:#FFFFFF;
	-khtml-border-radius:2px;
	font-size:13px;
	font-weight:bold;
	cursor:pointer;
	margin:0;
}

.window-button:hover {
	color:#000000;
	/*background-color:#999999;*/
}

#controls {
	font-size:9px;
	font-weight:normal;
	top:0px;
	left:10px;
	height:10px;
	right:10px;
	position:absolute;
	z-index:10;
	background-color:white;
}

#timeline-tabs {
	position:absolute;
	text-align:center;
	left:10px;
	right:10px;
	top:30px;
}

div.timeline {
	overflow:auto;
/*	border-top:1px dotted #cccccc;*/
/*	border-bottom:1px dotted #cccccc;*/
/*	background-color:#FFFFFF;*/
	position:absolute;
	top:   55px;
	left:   0px;
	right:  0px;
	bottom:53px;
	background-image:url('images/dropshadow.png');
	background-repeat:repeat-x;
	background-position: 0px -7px;
}
#prefs-timeline, #public-timeline {
	bottom:53px;
}

div.timeline-pager {
	border-top:   1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	background-color: #f0f0f0;
	color:#333333;
	position:absolute;
	bottom: 53px;
	left:    0px;
	right:   0px;
	height: 11px;
	padding: 1px;
	font-size: 9px;
	overflow: hidden;
}
div.timeline-pager a {
	color:#333333;
}
div.timeline-pager-left {
	position:absolute;
	left: 4px;
	top:  -3px;
	font-size:16px;
}
div.timeline-pager-info {
	text-align:center;
}
div.timeline-pager-right {
	position:absolute;
	right: 4px;
	top:   -3px;
	font-size:16px;
}

#entryform {
	position:absolute;
	margin:0;
	padding:0;
	bottom:27px;
	left:  0px;
	right: 0px;
	z-index: 10;
}

#entrybox {
	bottom:0px;
	position:absolute;
	margin:0;
	left:0px;
	right:0px;
	height:17px;
	font-size:13px;
	overflow:auto;
	padding:5px;
	text-align:left;
	background-color:#FFFFEE;
	border:none;
	/*-khtml-border-bottom-left-radius:5px;
		-khtml-border-bottom-right-radius:5px;*/
	background-image:url('images/dropshadow.png');
	background-repeat:repeat-x;
	background-position: 0px -7px;
}

.textareaHintState {
	color:#999999;
}

.textareaFocusState {
	color:#000000;
}

#updateButton {
	bottom:0px;
	right:0px;
	position:absolute;
	opacity:0.8;
	display:none;
}

#entrystats {
	bottom:2px;
	left:8px;
	position:absolute;
	z-index: 100;
	color:#666666;
	font-size:9px;
	opacity:1;
	display:none;
}


#statusbar {
	position:absolute;
	padding:4px;
	font-size:10px;
	color:#999999;
/*	background-color:#e0e0e0;*/
	bottom: 5px;
	left:   3px;
	right:  3px;
/*	-khtml-border-bottom-left-radius:5px;
	-khtml-border-bottom-right-radius:5px;*/
	overflow:hidden;
	white-space:nowrap;
	cursor:move;
}

span.statusbar-username {
	font-weight:bold;
}

#loading {
	float:right;
	display:none;
}
#loading img {
	height:10px;
	width:10px;
}





div.timeline-entry {
/*	background-color: #CCCC99;*/
	padding: 10px;
/*	border-top-width: medium;
	border-top-style: solid;
	border-top-color: #999966;
*/	/*min-height:55px;*/
	clear:both;
	/*position:relative;*/
	overflow:hidden;
	/*border:1px solid green;*/
}
div.timeline-entry.reply {
	color: #000000;
	background-color: #FFFFDD;
}
div.timeline-entry.dm {
	color: #000000;
	background-color: #FFDDDD;
}
div.timeline-entry.reply.ui-selected {
	color: #000000;
	background-color: #DDFFDD;
}
div.timeline-entry.dm.ui-selected {
	color: #000000;
	background-color: #FFDDFF;
}


.SpryHiddenRegion {
	visibility:hidden;
}

div.user {
	float:left;
	width:48px;
	text-align:center;
	overflow:visible;
	margin-right:10px;
	position:relative;
	/*border:1px solid red;*/
}

img.user-image {
	/*border:3px double #999999;*/
	/*margin-bottom:2px;*/
	/*background-color:#FFFFFF;*/
	-webkit-box-shadow:0px 1px 3px #333;
}

div.user-screen-name {
	font-size:10px;
	display:none;
}

div.status {
	font-size:13px;
	margin:0 0 0 60px;
	padding:0;
	/*position:relative;*/
	/*border:1px solid blue;*/
}

div.status-text {
	/*font-family:Palatino,Georgia, "Times New Roman", Times, serif;*/
/*	font-family:Arial, Helvetica;*/
	letter-spacing:0px;
	margin-bottom:4px;
}

div.status-link {
	font-size:10px;
	color:#666666;
}

div.status-actions {
	font-size:10px;
	float:right;
}

div.user-follow {
	font-size:10px;
	float:left;
}

span.status-protected img {
	vertical-align:-20%;
	opacity:0.8;
}

div.odd {
/*	background-color: #FFFFFF;*/
/*	border-top-color: #999966;
	background-image: url('images/entry-odd-bg.png');
	background-repeat: repeat-x;
*/}

div.even {
/*	background-color: #F0F0F0;*/
/*	border-top-color: #666699;
	background-image: url('images/entry-even-bg.png');
	background-repeat: repeat-x;
*/}



div.directory {
	overflow:hidden;
}

div.user-list {
	overflow:auto;
	position:absolute;
	top:130px;
	left:  0px;
	right: 0px;
	bottom:0px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding-top:3px;
	overflow:auto;
	white-space:nowrap;
	border-top:2px solid #CCCCCC;
}
div.user-list-wrapper {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:90%;
}
div.user-list div.user {
	margin:auto;
	padding:0px;
	width:60px;
	height:60px;
	overflow:hidden;
	position:relative;
}
div.user-list  div.user-screen-name {
	overflow:hidden;
	font-size:8px;
	display:none;
	position:absolute;
	z-index:100;
	background-color:#FFFFFF;
	padding:5px;
}
#friendslist-detail,
#followerslist-detail {
	background-color:#f0f0f0;
	padding:10px;
	z-index:100;
	display:block;
	height:110px;
	left:    0px;
	right:   0px;
	top:     0px;
	overflow:auto;
	position:absolute;
	background-image:url('images/dropshadow.png');
	background-repeat:repeat-x;
	background-position: 0px -7px;
/*	background-image: url('images/user-detail-bg.png');*/
}
#friendslist-detail h2,
#followerslist-detail h2 {
	margin:0;
	font-size:18px;
	letter-spacing: -1px;
}
#friendslist-detail div.user-image,
#followerslist-detail div.user-image {
	float:right;
	margin-left:   5px;
	margin-bottom: 5px;
}
div.user-list-details {
	/*	margin-left:65px;*/
}
div.user-list-details .user-location {
	font-style: italic;
	font-size:12px;
}
div.user-list-details .user-description {
	font-size: 11px;
}
div.user-list-details .status-text {
	margin-top:10px;
	font-size:11px;
	display:none;
}
div.user-menu {
	border-top:1px solid #AAAAAA;
	padding-top:5px;
	margin-top:5px;
	font-size:10px;
	clear:both;
	text-align:right;
}
div.user-menu a+a:before {
	content:" : ";
}




fieldset {
	border-top:1px solid #CCCCCC;
	border-width: 1px 0 0 0;
/*	-khtml-border-radius:5px;*/
	margin-bottom:10px;
}

legend {
	color:#CCCCCC;
}

#prefs-form {
	font-size:11px;
	padding:20px;
}
#prefs-form h2.CollapsiblePanelTab {
	font-weight:bold;
	font-size:14px;
	color:#999999;
	border-bottom:1px solid #cccccc;
	padding-top:8px;
	padding-bottom:2px;
	cursor: pointer;
	margin-bottom:0px;
}
#prefs-form h2.CollapsiblePanelTabHover {
	color:#666666;
}
#prefs-form h2.CollapsiblePanelTabHover {
	color:#666666;
}
#prefs-form .CollapsiblePanelOpen .CollapsiblePanelTab {
	color:#333333;
}
.CollapsiblePanelContent {
	margin:   0px;
	padding: 10px;
	border-bottom: 1px solid #D0D0D0;
	clear:both;
	background-color: #F0F0F0;
}
div.formrow {
	white-space: nowrap;
	clear:both;
}

#prefs-form label {
	min-width:75px;
	text-align:right;
	margin-right:5px;
	font-weight:bold;
	display:block;
	float:left;
	padding:5px;
	color:#999999;
}
#prefs-form label.checkbox {
	float: none;
	padding:0;
	margin:0 0 0 5px;
	display:inline;
}
input[type='checkbox'] {
	vertical-align:-20%;
}
option {
	font-family:sans-serif;
	size:.9em;
}
#prefs-form input[type='password'],
#prefs-form input[type='text'],
#prefs-form select {
	border:1px solid #CCCCCC;
	color: #999999;
	background-color:#FFFFEE;
	padding:4px;
	width:125px;
	/*-khtml-border-radius:5px;*/
}

input[type='button'], input[type='submit'] {
	background-color:#CCCCCC;
	color:#666666;
	-khtml-border-radius:5px;
	border:0px solid #666666;
	font-size:11px;
	cursor:pointer;
	padding:3px;
}
input[type='text']#prefs-user-stylesheet {
	width:100px;
}
input[type='text']#prefs-refresh-interval {
	width:20px;
}
input[type='text']#prefs-opacity-percentage {
	width:30px;
	text-align:right;
}
#prefs-user-stylesheet-button, #prefs-user-stylesheet-clear {
	padding:2px;
	font-size:10px;
	margin:0px;
}

input[type='button']:focus, input[type='submit']:focus,
input[type='button']:hover, input[type='submit']:hover {
	background-color:#999999;
	border-color:#999999;
	color:#000000;
}

#prefs-update-button {
	font-size:14px;
}

.slider {
	border:1px solid #999999;
	-khtml-border-radius:5px;
	width:100%;
	height:16px;
	z-index:1;
	position:relative;
}

.slider-indicator {
	color:red;
	width:32px;
	height:16px;
	-khtml-border-radius:5px;
	z-index:2;
	position:absolute;
}

#verification-result {
	color:#333333;
	padding:5px;
}

a.reload-button {
	padding:2px;
	color:#CCCCFF;
	font-size:1%;
	top:1000px;
	right:0px;
	position:absolute;
	display:none;
	visibility:hidden;
}


#resize-sw {
	position:absolute;
	bottom: 1px;
	right:  1px;
	font-size:12px;
	background-image:url('images/resize-sw.png');
	cursor: sw-resize;
	text-align:center;
	width:13px;
	height:13px;
}





div.popupWindow {
	position:absolute;
	z-index: 999;
	font-size:12px;
	width:300px;
	height:300px;
	top: 10px;
	left:10px;
	overflow: auto;
	background-color: #eeeeee;
	border:1px solid #cccccc;
	padding:10px;
	-webkit-box-shadow:0px 0px 6px #333333;
}
div.popupWindow h2 {
	margin:0 0 5px 0;
	padding:0;
	font-size:20px;
	letter-spacing: -1px;
}
div.popupWindow h3 {
	margin:0 0 5px 0;
	padding:0;
	font-size:14px;
	letter-spacing: -1px;
}

div.popupWindowBar {
	text-align:right;
	border-bottom:2px solid #999999;
	padding-bottom:3px;
	margin-bottom:10px;
	cursor:pointer;
}
div.popupWindowBar .window-button {
	padding:2px;
	color:#666666;
	background-color:transparent;
	-khtml-border-radius:3px;
	font-size:12px;
	cursor:pointer;
	margin:0;
}
div.popupWindowBar .window-button:hover {
	color:#000000;
	background-color:#CCCCCC;
}

#spazIcon {
	border:3px double #999999;
	float:right;
	margin:0px 0px 5px 5px;
}

#about-version {
	font-weight:strong;
}

#about-thanks {
	font-weight:strong;
	border:1px solid #999999;
	padding:5px;
	background-color:#FFFFFF;
}

#SpryDebugWindow {
	z-index:100;
	position:static;
	opacity:0.5;
}

#sysinfo {
/*	border-collapse:collapse;*/
/*	border:2px solid #666699;*/
	margin-left:auto;
	margin-right:auto;
	text-align:center;
/*	background-color: #EEEEFF;*/
/*	background-image: url('images/entry-even-bg.png');*/
/*	-khtml-border-radius:.5em;*/
	padding:5px;
}

#sysinfo td {
	font-size:12px;
	padding:2px;
}
#sysinfo td.label {
	font-weight:bold;
	text-align:right;
}
#sysinfo td.label:after { content:":"; }
#sysinfo .value {
	padding:2px;
	text-align:left;
}
#shortLinkWindow {
	height:190px;
}
#shortenLink-form {
	width:100%;
}
#shortenLink-form label {
	min-width:15%;
	text-align:right;
	margin-right:5px;
	font-weight:bold;
	display:block;
	float:left;
	padding:5px;
	color:#999999;
}
#shortenLink-form input[type='password'],
#shortenLink-form input[type='text'],
#shortenLink-form select {
	border:1px solid #CCCCCC;
	color: #999999;
	background-color:#FFFFEE;
	padding:4px;
	width:75%;
	/*-khtml-border-radius:5px;*/
}



img.tab-icon {
	margin-bottom:-1px;
	width:12px;
	height:12px;
}

#tooltip {
	background-color:#e0e0e0;
	color:#333333;
	font-size:11px;
	padding:5px !important;
	border:0px solid #e0e0e0;
	opacity:0.8;
	position:fixed;
	z-index:999;
	top:-15px;
	left:1px;
	-khtml-border-radius:5px;
	max-width:250px;
	display:none;
	
}
#tooltip h3, #tooltip div {
	margin: 0;
	font-weight:normal;
	font-size:inherit;
}




/*********************************************
TabbedPanels
*********************************************/

/* Horizontal Tabbed Panels
 *
 * The default style for a TabbedPanels widget places all tab buttons
 * (left aligned) above the content panel.
 */

/* This is the selector for the main TabbedPanels container. For our
 * default style, this container does not contribute anything visually,
 * but it is floated left to make sure that any floating or clearing done
 * with any of its child elements are contained completely within the
 * TabbedPanels container, to minimize any impact or undesireable
 * interaction with other floated elements on the page that may be used
 * for layout.
 *
 * If you want to constrain the width of the TabbedPanels widget, set a
 * width on the TabbedPanels container. By default, the TabbedPanels widget
 * expands horizontally to fill up available space.
 *
 * The name of the class ("TabbedPanels") used in this selector is not
 * necessary to make the widget function. You can use any class name you
 * want to style the TabbedPanels container.
 */
.TabbedPanels {
	margin: 0px;
	padding: 0px;
	float: left;
	clear: none;
	width: 100%; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
	
}

/* This is the selector for the TabGroup. The TabGroup container houses
 * all of the tab buttons for each tabbed panel in the widget. This container
 * does not contribute anything visually to the look of the widget for our
 * default style.
 *
 * The name of the class ("TabbedPanelsTabGroup") used in this selector is not
 * necessary to make the widget function. You can use any class name you
 * want to style the TabGroup container.
 */
.TabbedPanelsTabGroup {
	margin: 0px;
	padding: 0px;
	height:15px;
}

/* This is the selector for the TabbedPanelsTab. This container houses
 * the title for the panel. This is also the tab "button" that the user clicks
 * on to activate the corresponding content panel so that it appears on top
 * of the other tabbed panels contained in the widget.
 *
 * For our default style, each tab is positioned relatively 1 pixel down from
 * where it wold normally render. This allows each tab to overlap the content
 * panel that renders below it. Each tab is rendered with a 1 pixel bottom
 * border that has a color that matches the top border of the current content
 * panel. This gives the appearance that the tab is being drawn behind the
 * content panel.
 *
 * The name of the class ("TabbedPanelsTab") used in this selector is not
 * necessary to make the widget function. You can use any class name you want
 * to style this tab container.
 */
.TabbedPanelsTab {
	position: relative;
	float: left;
	padding: 5px;
	margin: 0px 1px 0px 0px;
	font-size: 11px;
	background-color: #FFFFFF;
	color:#CCCCCC;
	list-style: none;

	/* border-left: solid 1px #CCC;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999; */
	-moz-user-select: none;
	-khtml-user-select: none;
	-khtml-border-top-left-radius:0em;
	-khtml-border-top-right-radius:0em;
	border:none;
	cursor: pointer;
	
}

/* This selector is an example of how to change the appearnce of a tab button
 * container as the mouse enters it. The class "TabbedPanelsTabHover" is
 * programatically added and removed from the tab element as the mouse enters
 * and exits the container.
 */
.TabbedPanelsTabHover {
	border-bottom: solid 1px #CCCCCC;
}

/* This selector is an example of how to change the appearance of a tab button
 * container after the user has clicked on it to activate a content panel.
 * The class "TabbedPanelsTabSelected" is programatically added and removed
 * from the tab element as the user clicks on the tab button containers in
 * the widget.
 *
 * As mentioned above, for our default style, tab buttons are positioned
 * 1 pixel down from where it would normally render. When the tab button is
 * selected, we change its bottom border to match the background color of the
 * content panel so that it looks like the tab is part of the content panel.
 */
.TabbedPanelsTabSelected {
	background-color: #FFFFFF;
	/*border:1px solid #cccccc;*/
	border-bottom: solid 1px #CCCCCC;
	color:#CCCCCC;
}

/* This selector is an example of how to make a link inside of a tab button
 * look like normal text. Users may want to use links inside of a tab button
 * so that when it gets focus, the text *inside* the tab button gets a focus
 * ring around it, instead of the focus ring around the entire tab.
 */
.TabbedPanelsTab a {
	color: #FFFFFF;
	text-decoration: none;
}

/* This is the selector for the ContentGroup. The ContentGroup container houses
 * all of the content panels for each tabbed panel in the widget. For our
 * default style, this container provides the background color and borders that
 * surround the content.
 *
 * The name of the class ("TabbedPanelsContentGroup") used in this selector is
 * not necessary to make the widget function. You can use any class name you
 * want to style the ContentGroup container.
 */
.TabbedPanelsContentGroup {
	clear: both;
}

/* This is the selector for the Content panel. The Content panel holds the
 * content for a single tabbed panel. For our default style, this container
 * provides some padding, so that the content is not pushed up against the
 * widget borders.
 *
 * The name of the class ("TabbedPanelsContent") used in this selector is
 * not necessary to make the widget function. You can use any class name you
 * want to style the Content container.
 */
.TabbedPanelsContent {
	padding: 4px;
}

/* This selector is an example of how to change the appearnce of the currently
 * active container panel. The class "TabbedPanelsContentVisible" is
 * programatically added and removed from the content element as the panel
 * is activated/deactivated.
 */
.TabbedPanelsContentVisible {
}





table.data {
/*	border-collapse:collapse;*/
/*	border:2px solid #666699;*/
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:5px;
	border-top:3px solid #333333;
	border-bottom:1px solid #333333;
	border-collapse:collapse;
	width:100%;
}
table.data th {
	background-color:#cccccc;
	color:#333333;
	font-size:12px;
	font-weight:bold;
}
table.data tr {
}
table.data td {
	font-size:12px;
	padding:4px;
}
table.data td.label {
	font-weight:bold;
	text-align:right;
	border-right:1px solid #999999;
}
table.data td.label:after { /*content:":";*/ }
table.data td.value {
	padding:2px;
	text-align:left;
}

/* selectables */
.ui-selected
{
	background-color:#DDDDEE;
	background-image:none !important;
	color:#000000;
}
.ui-selecting
{
	background-color: #666666;
	opacity: 0.3;
	border:2px solid #000000;
}


/* context menus */
div.context-menu {
	position:fixed;
	z-index: 1010;
	font-size:10px;
	font-weight: normal;
	top:10px;
	left:10px;
	overflow: auto;
	background-color: #FFFFFF;
	background-repeat: repeat-x;
/*	border:1px solid #333333;*/
	color:#333333;
	-webkit-box-shadow:0px 0px 6px #333333;
	display:none;
	padding:5px;
	opacity:0.8;
	-khtml-border-radius:5px;
}
div.context-menu ul {
	padding:0;
	margin:0;
	list-style: none;
}
div.context-menu li {
	list-style: none;
	padding:4px;
}
div.context-menu li:hover {
	background-color:#333333;
	color:#ffffff;
	cursor: pointer;
	-khtml-border-radius:5px;
}