@font-face {
	 font-family: "C64 User";
	 src: url("../fonts/C64_User_v1.0-STYLE.ttf") format("truetype");
}

@font-face {
	 font-family: "C64 User Mono";
	 src: url("../fonts/C64_User_Mono_v1.0-STYLE.ttf") format("truetype");
}

@font-face {
	 font-family: "C64 Pro";
	 src: url("../fonts/C64_Pro_v1.0-STYLE.ttf") format("truetype");
}

@font-face {
	 font-family: "C64 Pro Mono";
	 src: url("../fonts/C64_Pro_Mono_v1.0-STYLE.ttf") format("truetype");
}

.c64u {
	font: normal 18pt/24px "C64 User", verdana, helvetica, sans-serif;
	letter-spacing: 0px;
	padding: 0;
	margin: 0;
}
.c64um {
	font: normal 24pt/32px "C64 User Mono", verdana, helvetica, sans-serif;
	letter-spacing: 0px;
	padding: 0;
	margin: 0;
}
.c64p {
	font: normal 18pt/24px "C64 Pro", verdana, helvetica, sans-serif;
	letter-spacing: 0px;
	padding: 0;
	margin: 0;
}
.c64pm {
	font: normal 24pt/32px "C64 Pro Mono", verdana, helvetica, sans-serif;
	letter-spacing: 0px;
	padding: 0;
	margin: 0;
}
.px8 {
	font-size: 6pt;
	line-height: 8px;
}
.px16 {
	font-size: 12pt;
	line-height: 16px;
}
.px24 {
	font-size: 18pt;
	line-height: 24px;
}
.px32 {
	font-size: 24pt;
	line-height: 32px;
}
.px40 {
	font-size: 30pt;
	line-height: 40px;
}

table, tr, td {
	padding: 0;
	margin: 0;
}
thead, tbody, tr, td {
	background-color: inherit;
}
td {
	font: inherit;
	border-right: 2px solid #888;
	border-bottom: 2px solid #888;
}
td:first-child {
	border-left: 2px solid #888;
}
tr:first-child td {
	border-top: 2px solid #888;
}
td:hover {
	background-color: #000 !important;
	color: #fff !important;
}
table {
	border-top: 4px solid #000;
	border-left: 4px solid #000;
	border-right: 4px solid #000;
	border-bottom: 4px solid #000;
}

.d020-00 {
	background-color: #000000;
}
.d021-00 {
	color: #000000;
}
.d020-06 {
	background-color: #352879;
}
.d021-06 {
	color: #352879;
}
.d020-0e {
	background-color: #6C5EB5;
}
.d021-0e {
	color: #6C5EB5;
}
