/*
The panelmenu appears at the top of each timeline
*/
.panelmenu {
	position: relative;
    padding:2px;
	height:27px;
	background-color: 	#6C5EB5;
	background-image:url(../images/domwindowoverlay.png);
	color:				#352879;
	z-index: 1; /* = div.timeline-subtitle z-index */
}
.panelmenu form {
	position: relative;
	margin: 0 2px;
	padding: 1px 0 0;
	line-height: 9px;
	text-align: left;
}
.panelmenu form input,
.panelmenu form button {
	font-size: 7pt;
	font-weight: normal;
	margin: 2px 0;
}
.panelmenu form button {
	width: 50px;
	height: 22px;
	padding: 0;
	background-color: 	#352879;
	color:				#6C5EB5;
	border:0;
	cursor: default;
	white-space: nowrap;
	text-transform:uppercase;
}
.panelmenu form button[id^="refresh-"] {
	position: relative;
	width: 30px;
	color: transparent;
}
.panelmenu form button[id^="refresh-"]:before {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: transparent url(../images/refresh-6C5EB5.png) center center no-repeat;
	content: ""; /* Forces background to be used */
}
.panelmenu form button:active {
	background-color: 	#6C5EB5;
	color:				#352879;
}
#panel-friends .panelmenu #view-friends:after,
#panel-userlists .panelmenu #view-userlists:after,
#panel-public .panelmenu #trends-public:after,
#panel-search .panelmenu #search-saved:after,
#panel-followerslist .panelmenu #view-followerslist:after {
	content: ' \025BE'; /* Down-pointing triangle */
}
#panel-public .panelmenu form #trends-public,
#panel-search .panelmenu form #search-saved,
#panel-userlists .panelmenu #view-userlists {
	width: 55px;
}
#panel-search .panelmenu form #search-help {
	width: 30px;
}
#panel-search .panelmenu form #search-go {
	display: none;
	/* Allows for making the text input wider. Hit Enter to
	search instead. */
}
#panel-search .panelmenu form #search-help {
	float: right;
	margin-right: 0;
}
.panelmenu form input[type=text] {
	float: right;
	width: 75px;
	height: 22px;
	margin-top: 3px;
	padding: 0 4px;
	background: transparent;
	border: 0;
	background-color: 	#352879;
	color:				#6C5EB5;
}
.panelmenu form input[type=text]:focus {
}
#panel-user .panelmenu form input[type=text],
#panel-favorites .panelmenu form input[type=text],
#panel-public .panelmenu form input[type=text] {
	width: 75px;
}
/*
For use if "Trends" menu is visible:
#panel-public .panelmenu form input[type=text] {
width: 90px;
}
*/
#panel-search .panelmenu form input[type=text] {
	float: none;
	width: 41%;
}