/*** Popboxes ***/

#DOMWindow {
}

#DOMWindowOverlay {
	/* Using lots of `!important` to override the JS plugin. */
	left: 10px !important;
	right:10px !important;
	top: 2px !important;
	bottom: 10px !important;
	width: auto !important;
	height: auto !important;
	min-width: 297px;
	background: #352879 url('../images/domwindowoverlay.png');
}
div.popbox-content {
	overflow: auto;
	overflow-x: hidden;
	max-height: 380px;
	background:#6C5EB5;
	color:#352879;
	background-size: 100% 40px;
	-webkit-background-size: 100% 40px;
	border: 2px solid #6C5EB5;
}


div.popbox-content a, div.popbox-content a:link, div.popbox-content .clickable {
	color: #6C5EB5;
	cursor: pointer;
	text-decoration: underline;
}  

div#popbox-content-account-details,
div#popbox-content-profile {
}
div.popbox-content h1 {
	background: transparent;
	color: #352879;
	cursor: default;
	font-size: 10pt;
	font-weight: normal;
	text-align: center;
	border:0;
}

div.popbox-content h2,div.popbox-content h3 {
	text-shadow: none;
}

div.popbox-content h1 .closeDOMWindow {
	position: absolute;
	right: 15px;
	top: 12px;
	display: block;
	width: 14px;
	height: 15px;
	background: transparent url(../images/close-white-small.png) 0 0 no-repeat;
	cursor: pointer;
	text-indent: -9999em;
}
div.popbox-content div.content {
	max-height: 295px;
	background:#352879;
	color:#6C5EB5;
	border-top-width:0;
	line-height:1.3em;
}
div.popbox-content div.controls {
	overflow: hidden;
	margin-top: -3px; /* = div.content border-bottom-width */
	padding: 8px;
	background:#6C5EB5;
}
div.popbox-content div.controls button {
	float: right;
	height: auto;
	margin: 0 0 0 6px;
	padding: 3px 16px;
	font-size: 7pt;
	font-weight: normal;
	line-height: 15px;
	background: #352879;
	color: #6C5EB5;
	border:0;
}
div.popbox-content div.controls button.primary {
	background: #352879;
	color: #6C5EB5;
	font-size: 7pt;
}
div.popbox-content div.controls button:hover,
div.popbox-content div.controls button:focus,
div.popbox-content div.controls button:active {
	background: #6C5EB5;
	color: #352879;
}

/*** Popboxes > Info ***/

div.popbox-content.info h1 {
	padding: 10px;
	background: transparent url(../../../../images/spaz-icon-alpha-half.png) right 40% no-repeat;
	text-align: center;
}
div.popbox-content.info div.content {
	padding: 15px;
}

/*** Popboxes > Account details ***/

div#popbox-content-account-details {
	background:#352879;
	color:#6C5EB5;
}
div#popbox-content-account-details h1 {
	background:#6C5EB5;
	color:#352879;
}
div#popbox-content-account-details div.content {
	overflow-x: hidden;
	max-height: 285px;
	padding: 0 12px;
	font-size: 6pt;
}
div#popbox-content-account-details div.content div.formrow {
	white-space: normal;
}
div#popbox-content-account-details div.content > div.formrow {
	padding: 0;
}
div#popbox-content-account-details div.content fieldset {
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}
div#popbox-content-account-details div.content label + input[type=text],
div#popbox-content-account-details div.content label + input[type=password] {
	display: block;
}
div#popbox-content-account-details div.content input#username,
div#popbox-content-account-details div.content input#password {
	font-size: 8pt;
}

/*** Popboxes > Conversation ***/

div#popbox-content-conversation {
	background:#352879;
	color:#6C5EB5;
}
div#popbox-content-conversation div.loading {
	/* See also `.timeline-wrapper div.loading` */
	margin:20px auto;
}
div#popbox-content-conversation div.content {
	padding: 0;
	background:#352879;
	color:#6C5EB5;
}
div#popbox-content-conversation #timeline-conversation {
	overflow: auto;
}
div#popbox-content-conversation #timeline-conversation div.timeline-entry {
	outline: 0;
}

/*** Popboxes > Drafts ***/

#popbox-content-drafts div.content {
	padding: 0;
	background:#352879;
	color:#6C5EB5;
}
#popbox-content-drafts div.content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#popbox-content-drafts div.content ul li {
	position: relative;
	padding: 10px 11px;
	background:#352879;
	color:#6C5EB5;
}
#popbox-content-drafts div.content ul li.editing {
	background:#6C5EB5;
	color:#352879;
}
#popbox-content-drafts div.content ul li p {
	margin: 0;
}
#popbox-content-drafts div.content ul li div.meta {
	margin: 1em 0 0;
	color: rgba(0, 0, 0, 0.25);
	font-size: 0.75em;
}
#popbox-content-drafts div.content ul li.editing div.meta {
	color: #ccbc5f;
}
#popbox-content-drafts div.content ul li div.meta p.chars.over {
	color: rgba(255, 0, 0, 0.75);
}

/*** Popboxes > Profile ***/

#popbox-content-profile div.content {
	padding: 0;
	background:#352879;
	color:#6C5EB5;
}
#popbox-content-profile div.content.loading {
	background:#352879;
	color:#6C5EB5;
}
#popbox-content-profile div.content div.loading {
	/* See also `.timeline-wrapper div.loading` */
	display: none;
	margin: 20px auto;
}
#popbox-content-profile div.content.loading div.loading {
	display: block;
	border-top-width: 3px;
}
#popbox-content-profile div.content.loading div.header,
#popbox-content-profile div.content.loading div.body,
#popbox-content-profile div.content.loading + div.controls {
	display: none;
}
#popbox-content-profile div.content div.header {
	overflow: hidden;
	height: 48px;
	margin: 2px;
	padding: 1em;
	background:#6C5EB5;
	color:#352879;
}

#popbox-content-profile div.content div.header a,
#popbox-content-profile div.content div.header a:link,
#popbox-content-profile div.content div.header .clickable {
	color: #352879;
}


#popbox-content-profile div.content div.header div.profile-user-image {
	float: left;
	width: 48px;
	height: 48px;
	margin: 0 auto 2px;
	background: transparent 0 0 no-repeat;
	background-size:48px 48px;
	-webkit-background-size: 48px 48px;
	text-indent:-9999em;
}
#popbox-content-profile div.content div.header p.name {
	float: left;
	margin: 0.375em 0 0 1em;
}
#popbox-content-profile div.content div.header p.name .real-name,
#popbox-content-profile div.content div.header p.name .username {
	display: block;
	line-height: 1.5;
}
#popbox-content-profile div.content div.header p.name .real-name[style^="display: none"] + .username {
	line-height: 3;
}
#popbox-content-profile div.content div.body {
	overflow: auto;
	max-height: 199px;
	padding: 1em;
	background:#352879;
	color:#6C5EB5;
}
#popbox-content-profile div.content div.body .clickable:hover {
	text-decoration: underline;
}
#popbox-content-profile div.content div.body p.location {
	margin: 0;
}
#popbox-content-profile div.content div.body p.location .label {
	font-size: 0.75em;
	text-transform: uppercase;
}
#popbox-content-profile div.content div.body p.location .value {
	font-size: 0.875em;
}
#popbox-content-profile div.content div.body p.website {
	overflow: hidden;
	display: inline-block;
	max-width: 100%;
	margin: 0;
	font-size: 0.875em;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#popbox-content-profile div.content div.body ul.counts {
	margin: 0;
	padding: 0;
}
#popbox-content-profile div.content div.body ul.counts li {
	display: inline-block;
	padding: 0.5em 2%;
	border: 1px solid transparent;
}
#popbox-content-profile div.content div.body ul.counts li:hover {
}
#popbox-content-profile div.content div.body ul.counts li:active {
}
#popbox-content-profile div.content div.body ul.counts li em {
	display: block;
	font-size: 0.75em;
	font-style: normal;
	font-weight: bold;
}
#popbox-content-profile div.content div.body ul.counts li .label {
	font-size: 0.75em;
}
#popbox-content-profile div.content div.body p.faves {
	display: inline-block;
	min-height: 15px; /* = background-image height */
	margin: 1em 0 0;
	padding: 0 0 0 21px; /* padding-left = background-image width + 5px */
	background: transparent url(../images/profiles/faves.png) 0 center no-repeat;
	font-size: 0.875em;
}
#popbox-content-profile div.controls button.follow-toggle {
	float: none;
	display: none;
	margin-left: 0;
}
#popbox-content-profile:not(.following) div.controls button.follow-toggle.follow,
#popbox-content-profile.following div.controls button.follow-toggle.unfollow {
	display: inline-block;
}
#popbox-content-profile div.controls button.lists {
	padding-right: 14px;
}
#popbox-content-profile div.controls button.tools {
	padding: 3px 12px 1px 14px;
}
#popbox-content-profile div.controls button.lists:after,
#popbox-content-profile div.controls button.tools:after {
	content: ' \025BE'; /* Down-pointing triangle */
	font-size: 1.25em;
	line-height: 0.8; /* 1 / font-size */
}
#popbox-content-profile div.controls button.tools span {
	display: inline-block;
	width: 17px;
	height: 17px;
	background: transparent url(../images/profiles/tools.png) 0 0 no-repeat;
	text-indent: -999em;
}



/*
news popup
*/
#news-content {
	font-size: 0.875em;
}
#news-content a:hover {
	text-decoration: underline;
}
#news-content div.entry {
	padding-bottom: 2em;
}
#news-content div.entry div.title {
	font-size: 10pt;
	font-weight: normal;
}
#news-content div.entry div.date {
	line-height: 2em;
	font-size: 0.75em;
}
#news-content div.entry div.entry-content {
	line-height: 1.4em;
}




div.popbox-content table.data {
	padding:5px;
	border:   2px solid #6C5EB5;
	border-collapse:collapse;
	width:100%;
}
div.popbox-content table.data th {
	background-color:#352879;
	color:#6C5EB5;
	font-size:  8pt;
	text-transform:uppercase;
	border:   2px solid #6C5EB5;
}
div.popbox-content table.data tr {
}
div.popbox-content table.data td {
	font-size:7pt;
	padding:  4px;
}
div.popbox-content table.data td.label {
	font-weight:bold;
	text-align:right;
	border:2px solid #6C5EB5;
}
div.popbox-content table.data td.label:after { /*content:":";*/ }
div.popbox-content table.data td.value {
	text-align:left;
	padding:  4px;
	border:2px solid #6C5EB5;
}
