/*** Preferences ***/

#panel-prefs .timeline-wrapper {
/*	border-top: 1px solid #646464;*/
}
body:not(.active) #panel-prefs .timeline-wrapper {
/*	border-top-color: #a9a9a9;*/
}
#prefs-form {
	margin: 0;
	padding: 0 0 10px;
	background: #352879;
	color: #6C5EB5;
	font-size:7pt;
}

/*
The Prefs form contains a collapsible panel group Spry widget
*/
#prefsCPG, .CollapsiblePanelGroup {
}
#prefs-form .CollapsiblePanel {
	margin: 0;
}
#prefs-form .CollapsiblePanelClosed {
}

/*
The tab is the clickable title that opens and closes the panel
*/
#prefs-form h2.CollapsiblePanelTab {
	background:#6C5EB5;
	color:#352879;
	cursor: pointer;
	font-size: 8pt;
	padding:.5em;
	line-height:15pt;
}
#prefs-form h2.CollapsiblePanelTabHover, #prefs-form h2.CollapsiblePanelTabOpen {
}
#prefs-form h2.CollapsiblePanelTab:active {
	background:#352879;
	color:#6C5EB5;
}
#prefs-form h2.CollapsiblePanelTab strong {
	display: block;
	padding: 0.25em 0 0.25em 20px;
	background: transparent url(../images/disclosure-triangles.png) 4px -14px no-repeat;
}
form#prefs-form h2.CollapsiblePanelTab:active strong,
#prefs-form .CollapsiblePanelOpen h2.CollapsiblePanelTab strong {
	background-position: 4px -94px;
}

/*
Form content -- fieldsets, legends, and controls. `div.prefs` affects
both the primary prefs form and the form popbox(es).
*/
div.prefs #prefs-form .CollapsiblePanelContent {
	clear: both;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #352879;
	color: #6C5EB5;
}
div.prefs fieldset {
	margin: 8px;
	padding: 0;
	overflow: auto; /* Wrap children's margins */
	background: #352879;
	color: #6C5EB5;
	border:2px dotted #6C5EB5;
}
div.prefs legend {
	float: left;
	width: 100%;
	margin: 0 0 8px;
	padding: 4px 0;
	background: #6C5EB5;
	color: #352879;
	cursor: default;
	font-size: 8pt;
	font-weight: bold;
	text-indent: 12px;
	text-transform:uppercase;
}
div.prefs div.formrow {
	clear: both;
	margin: 8px 0;
	padding: 0 12px;
}
div.prefs label {
	display: block;
	line-height:10pt;
}
div.prefs .relaunch-required {
	color: #c00;
}
div.prefs #account-list-fieldset div.formrow.cta {
	padding: 76px 0;
	text-align: center;
}
div.prefs #account-list-fieldset div.formrow.controls {
	overflow: hidden;
	height: 24px;
	/* Clips the extra pixel from the border between buttons */
}
div.prefs #account-list-fieldset div.formrow.controls input[name=add-account] {
	margin-right: 0;
/*	padding: 0 6px 0 1px;*/
	border-right-width: 0;
	
}
div.prefs #account-list-fieldset div.formrow.controls input[name=del-account] {
	margin-left: -4px;
/*	padding: 0 1px 0 6px;*/
	border-left-width: 0;
}
div.prefs ul#account-list {
	width: 100%;
	height: 143px;
	overflow: auto;
	margin: 0;
	padding: 0;
	border: 2px solid #6C5EB5;;
	list-style: none;
}
div.prefs ul#account-list li {
	border-top: 1px solid transparent;
}
div.prefs ul#account-list li:first-child {
}
div.prefs ul#account-list li:last-child {
}
div.prefs ul#account-list li.selected {
	color:#FFF;
}
div.prefs ul#account-list li > span {
	display: block;
	padding: 2px 0 3px 27px;
	color: #6C5EB5;
	cursor: default;
	line-height: 24px;
	text-transform:uppercase;
}
div.prefs ul#account-list li.current > span {
	background: transparent url(../images/accounts-current.png)
	10px 10px no-repeat;
}
div.prefs ul#account-list li.selected > span {
}
div.prefs ul#account-list li.current.selected > span {
	background-position: 10px -30px;
}
div.prefs ul#account-list li .image {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0 0.5em 0 0;
	background: transparent 0 0 no-repeat;
	background-size: 24px 24px;
	-webkit-background-size: 24px 24px;
	text-indent: -9999em;
}
div.prefs ul#account-list .clickable, div.prefs ul#account-list a {
	text-decoration:none;
}



/*** Preferences > Controls ***/

div.prefs input[type=text],
div.prefs input[type=password] {
	width: 96%;
	padding: 4px;
	background:#352879;
	color:#6C5EB5;
	border: 2px solid #6C5EB5;
}
div.prefs input[type=checkbox] {
	display: none;
}
div.prefs input[type=checkbox] + label {
	display: inline-block;
	height: auto;
	min-height: 14px;
	padding: 0 0 0 20px;
	background: transparent url(../images/checkbox.png) 0 -100px no-repeat;
}
div.prefs input[type=checkbox]:checked + label {
	background-position: 0 -150px;
}
div.prefs input[type=checkbox] + label:active {
	background-position: 0 -200px;
}
div.prefs input[type=checkbox]:checked + label:active {
	background-position: 0 -250px;
}
div.prefs select {
	background:#352879;
	color:#6C5EB5;
	border: 2px solid #6C5EB5;
}
div.prefs option+option {
	background:#352879;
	color:#6C5EB5;
	border-top: 2px solid #6C5EB5;
}
div.prefs input[type=button],
div.prefs input[type=submit],
#popbox-content-drafts div.content ul li div.controls input {
	font-size: 7pt;
	border: 2px solid #352879;
	padding: 4px 10px;
	line-height: 12px;
	background: #6C5EB5;
	color: #352879;
	text-transform:uppercase;
}
div.prefs input[type=button]:active,
div.prefs input[type=submit]:active,
#popbox-content-drafts div.content ul li div.controls input:active {
	background: #352879;
	color: #6C5EB5;
}
div.prefs input[type=button][disabled],
div.prefs input[type=submit][disabled] {
	background: #6C5EB5;
	color: #6C5EB5;
	
}
input[type=text]#prefs-user-stylesheet {
	width: 80px;
}
input[type=text]#network-refreshinterval {
	width: 20px;
}
input[type=text]#dock-refreshinterval {
	width: 30px;
}
input[type=text]#window-alpha {
	width: 30px;
	text-align: right;
}
#prefs-user-stylesheet-button,
#prefs-user-stylesheet-edit,
#prefs-user-stylesheet-clear {
	margin: 2px 0 0;
	font-size: 7pt;
}

/*** Preferences > Footer ***/

#prefs-form div.formrow.footer {
	margin: 0;
	padding: 20px 10px;
	text-align: right;
}
#prefs-form div.formrow.footer p.prefs-relaunch {
	margin: 0;
}
#prefs-form div.formrow.footer p.prefs-update {
	float: right;
	display: inline-block;
	margin: 0.5em 0 0 0.25em;
}
#prefs-form div.formrow.footer p.prefs-open-folder {
	display: inline-block;
	margin: 0.5em 0 0;
}
#prefs-form div.formrow.footer p input[type=button]:active {
/*	border-image: url(../images/buttons/large-active.png) 0 11 0 11 repeat repeat;
	-webkit-border-image: url(../images/buttons/large-active.png) 0 11 0 11 repeat repeat;*/
}
#prefs-form div.formrow.footer p.prefs-update input#prefs-update-button {
	padding:.5em;
	font-size: 7pt;
}
#prefs-form div.formrow.footer p.prefs-open-folder input#prefs-open-folder {
	padding:.5em;
	font-size: 7pt;
}
