
/*** Scrollbars ***/

::-webkit-scrollbar {
	width: 15px;
	height: 15px;
	background: #6C5EB5;
	color:      #352879;	
}
::-webkit-scrollbar-button:vertical {
	display: block;
	height: 26px;
	background: transparent -15px 0 no-repeat;
}
/*
Disabled because the AIR 2 beta doesn't apply this selector until you hover
over each button:
body:not(.active) ::-webkit-scrollbar-button:vertical {
background-position: 0 0;
}
*/
::-webkit-scrollbar-button:vertical:start {
	display: none;
}
::-webkit-scrollbar-button:vertical:active {
/*	background-position: -30px 0;*/
}
::-webkit-scrollbar-button:vertical:end:decrement {
	background-image: url(../images/scrollbar/button-vertical-bottom-up.png);
}
::-webkit-scrollbar-button:vertical:end:increment {
	height: 16px;
	background-image: url(../images/scrollbar/button-vertical-bottom-down-square.png);
}
::-webkit-scrollbar-track:vertical {
	margin-top: 0px;
	margin-bottom: -11px;
	background: #352879;
	background-image: url(../images/scrollbar/scrollbar-bg.png);
}
::-webkit-scrollbar-track-piece {
}
::-webkit-scrollbar-track-piece:vertical:start {/* Above thumb */
/*	margin-top:4px;*/
}
::-webkit-scrollbar-track-piece:vertical:end {
	
}
/* Below thumb */

/* Single buttons at the start and end: */
body.scrollbar-single-both ::-webkit-scrollbar-button:vertical:start:decrement,
body.scrollbar-single-both ::-webkit-scrollbar-button:vertical:end:increment {
	display: block;
	height: 26px;
}
body.scrollbar-single-both ::-webkit-scrollbar-button:vertical:start:increment,
body.scrollbar-single-both ::-webkit-scrollbar-button:vertical:end:decrement {
	display: none;
}
body.scrollbar-single-both ::-webkit-scrollbar-button:vertical:start:decrement {
	background-image: url(../images/scrollbar/button-vertical-top-up.png);
}
body.scrollbar-single-both ::-webkit-scrollbar-button:vertical:end:increment {
	background-image: url(../images/scrollbar/button-vertical-bottom-down.png);
}
body.scrollbar-single-both ::-webkit-scrollbar-track:vertical {
	margin-top: -11px;
	margin-bottom: -11px;
	background: transparent;
}
body.scrollbar-single-both ::-webkit-scrollbar-track-piece:vertical:start {
	margin-top: 0;
}

/* Doubled buttons at the start and end: */
body.scrollbar-double-both ::-webkit-scrollbar-button:vertical:start,
body.scrollbar-double-both ::-webkit-scrollbar-button:vertical:end {
	display: block;
}
body.scrollbar-double-both ::-webkit-scrollbar-button:vertical:start:decrement {
	height: 16px;
	background-image: url(../images/scrollbar/button-vertical-top-up-square.png);
}
body.scrollbar-double-both ::-webkit-scrollbar-button:vertical:start:increment {
	background-image: url(../images/scrollbar/button-vertical-top-down.png);
}
body.scrollbar-double-both ::-webkit-scrollbar-button:vertical:end:decrement {
	background-image: url(../images/scrollbar/button-vertical-bottom-up.png);
}
body.scrollbar-double-both ::-webkit-scrollbar-button:vertical:end:increment {
	height: 16px;
	background-image: url(../images/scrollbar/button-vertical-bottom-down-square.png);
}
body.scrollbar-double-both ::-webkit-scrollbar-track:vertical {
	margin-top: -11px;
	margin-bottom: -11px;
	background: transparent;
}
body.scrollbar-double-both ::-webkit-scrollbar-track-piece:vertical:start {
	margin-top: 0;
}

::-webkit-scrollbar-thumb:vertical {
	min-height: 24px;
	background: #6C5EB5;
	border: 2px solid #352879;	
}
/*
Disabled because the AIR 2 beta doesn't apply this selector until you hover
over the thumb:
body:not(.active) ::-webkit-scrollbar-thumb:vertical {
-webkit-border-image: url(../images/scrollbar/thumb-inactive.png) 8 0 8 0 repeat repeat;
}
*/
::-webkit-scrollbar-corner:vertical {
	background: #6C5EB5;
}
/*
::-webkit-scrollbar-resizer:vertical {
background: #eee;
}
*/



