/* The main thing this does is to hide the <body> element,
which will be re-shown when a theme kicks in. This, of course,
means themes must use display:block on the <body> element */

body {
	display:none;
	-khtml-user-select:none;
}

input[type=text], textarea, div.status-text {
	-khtml-user-select:text;
}

#SpryDebugWindow {
	display:fixed;
	bottom:	20px !important;
	left:	20px !important;
	height:100px !important;
	overflow: auto;
}