/* The main thing this does is to hide the <body> element,
which will be re-shown when a theme kicks in. This, of course,
means themes must set display:block on the <body> element */

body {
	display:none;
/*	-khtml-user-select:none;*/
}

/*
    Should disable ugly AIR focus outlines in most cases
*/
*:focus {
    outline:none;
}

/* selectable settings */
* {
	-webkit-user-select:none;
}
input, textarea, .status-text {
	-webkit-user-select:text;
}


.restart-required {
	font-weight:bold;
	color:#990000;
}

div.status-text img.inline {
	display:block;
	max-width:150px;
	max-height:150px;
}

div.status-text img.emoticon {
	vertical-align: -20%;
}


/* this hides tweets other than dms and replies when enabled */
div.timeline.dm-replies div.timeline-entry {
	display:none;
}

div.timeline.dm-replies div.reply, div.timeline.dm-replies div.dm {
	display:block;
}

#wilhelm {
	font-size:3em;
	font-weight: bold;
	text-align: center;
	text-shadow: #111111 0px 2px 5px;
	color: #990000;
	margin:.2em;
	opacity:.7;
	-khtml-border-radius:10px;
	-webkit-box-shadow:0px 0px 10px #333333;
	background-color: #FFFFFF;
	display:none;
	position:absolute;
}


/*
    These things aren't retrieved properly via Summize search
*/
#timeline-search .status-source,
#timeline-search .status-protected {
    display:none;
}

.highlight {
    background:#EEEEAA;
    color:#000000;
    border-bottom:1px dotted #333333;
}

.hidden {
	display:none;
}


#suggestions {
	background-color: #000000;
	background-color: rgba(0,0,0,.8);
	color: #FFFFCC;
	padding:0px;
	margin:0px;
	-khtml-border-radius:5px;
	list-style: none;
/*	max-height:15px;*/
	position:absolute;
/*	overflow:none;*/
/*	z-index: 1000;*/
	bottom:150px;
	left:15px;
	max-height:200px;
	max-width:200px;
	overflow:hidden;
}

#suggestions .username-match {
    padding: 4px 5px;
    cursor: pointer;
	margin-right:5px;
	font-size:10px;
}

#suggestions .username-match:first-child {
	font-weight: bold;
	text-decoration: underline;
	color:white;
}

