/*
	Filtering for timelines
*/

.filter-timeline-all {}
	.filter-timeline-all div.timeline-entry       { display:block; }
	.filter-timeline-all div.timeline-entry.reply { display:block; }
	.filter-timeline-all div.timeline-entry.dm    { display:block; }

.filter-timeline-replies-dms {}
	.filter-timeline-replies-dms div.timeline-entry       { display:none; }
	.filter-timeline-replies-dms div.timeline-entry.reply { display:block; }
	.filter-timeline-replies-dms div.timeline-entry.dm    { display:block; }

.filter-timeline-replies {}
	.filter-timeline-replies div.timeline-entry       { display:none; }
	.filter-timeline-replies div.timeline-entry.reply { display:block; }
	.filter-timeline-replies div.timeline-entry.dm    { display:none; }
	
.filter-timeline-dms {}
	.filter-timeline-dms div.timeline-entry       { display:none; }
	.filter-timeline-dms div.timeline-entry.reply { display:none; }
	.filter-timeline-dms div.timeline-entry.dm    { display:block; }

.filter-timeline-unread {}
	.filter-timeline-unread div.timeline-entry       { display:block; }
	.filter-timeline-unread div.timeline-entry.reply { display:block; }
	.filter-timeline-unread div.timeline-entry.dm    { display:block; }
	.filter-timeline-unread div.timeline-entry.read  { display:none;  }
