@charset "UTF-8";
@import "jquery-ui/jquery-ui.css";

/*
	Setting up some basics here
*/
html {
  width:100%;
  height:100%;
}

body {
  display:block;
  width:100%;
  height:100%;
	margin:0px;
	padding:0px;
	overflow:hidden;
	font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5{
	margin:0;
	padding:0;
}

a, a:link, .clickable{
	color:#1d439f;
	cursor:pointer;
	text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
*:focus{
  outline:0;
}
.highlight{
  border-bottom:1px dotted #884;
}

/*
	the .even and .odd classes are really only used in the timelines, but 
	they're useful and probably could be reused elsewhere.
*/
.odd{
	background:#f1f5fa;
}
.even{
	background:#fff;
}




	/*********************************************************************
		The container is a div that wraps around all of the content
	*/
	#container {
    position:fixed;
		overflow:hidden;
    background:#969696 url(images/header-bg.png) 0 0 repeat-x;
		-khtml-border-radius:4px;
		top:0px; /* This has an effective 8px padding to show us the app dropshadow */
		left:8px; /* using all-four-sides positioning lets it expand properly on resizing */
		bottom:8px;
		right:8px;
	}


		/*********************************************************************
			The contains the classic "Spaz" title and the window buttons
		*/
		#header{
			position:absolute;
			top:0;
			left:0;
			right:0;
			height:30px;
			margin-left:auto;
			margin-right:auto;
			margin-top:0;
			padding:5px 10px 10px 10px;
			color:#FFFFFF;
			font-size:18px;
			text-align:left;
			-khtml-border-top-left-radius:4px;
			-khtml-border-top-right-radius:4px;
		}
			#window-buttons{
				position:absolute;
        left:8px;
        top:4px;
			}
				.window-button{
				  position:absolute;
				  left:0px;
				  top:0px;
          width:14px;
          height:16px;
					margin:0;
					background-position:-14px 0;
					background-repeat:no-repeat;
					font-size:0px;
					text-indent:-9999em;
				}
				#window-buttons:hover .window-button{
				  background-position:-28px 0;
				}
				.window-button:active{
				  background-position:-42px 0;
				}
				#close{
				  background-image:url(images/window-controls-close.png);
				}
				#minimize{
				  left:21px;
				  background-image:url(images/window-controls-minimize.png);
				}
			#header-label{
			  display:block;
			  width:45px;
				margin:-2px auto 0;
				font-size:13px;
				font-weight:normal;
				color:#000;
				cursor:pointer;
  			text-shadow:0 1px 1px #fff;
			}
			#header-label:after{
        content:' \025BC'; /* Down-pointing triangle */
        font-size:0.5em;
			}
		
		/*
			The tabs group contains the tabs themselves and the content panels
			
			From Spry CSS Notes:
			This is the selector for the main TabbedPanels container. For our
			default style, this container does not contribute anything visually,
			but it is floated left to make sure that any floating or clearing done
			with any of its child elements are contained completely within the
			TabbedPanels container, to minimize any impact or undesireable
			interaction with other floated elements on the page that may be used
			for layout.
			
			If you want to constrain the width of the TabbedPanels widget, set a
			width on the TabbedPanels container. By default, the TabbedPanels widget
			expands horizontally to fill up available space.
			 
		*/
		#tabs, .TabbedPanels {
			margin: 0px;
			padding: 0px;
			float: left;
			clear: none;
		}
		
			/*
				The timeline tabs, a UL group
				
				From Spry CSS Notes:
				This is the selector for the TabGroup. The TabGroup container houses
				all of the tab buttons for each tabbed panel in the widget. This container
				does not contribute anything visually to the look of the widget for our
				default style.
			*/
			#timeline-tabs, .TabbedPanelsTabGroup{
				position:absolute;
        left:8px;
        right:8px;
        top:35px;
				margin:0;
				padding:0;
			}
			
				/*				
					From Spry CSS Notes:
					This is the selector for the TabbedPanelsTab. This container houses
					the title for the panel. This is also the tab "button" that the user clicks
					on to activate the corresponding content panel so that it appears on top
					of the other tabbed panels contained in the widget.

					For our default style, each tab is positioned relatively 1 pixel down from
					where it wold normally render. This allows each tab to overlap the content
					panel that renders below it. Each tab is rendered with a 1 pixel bottom
					border that has a color that matches the top border of the current content
					panel. This gives the appearance that the tab is being drawn behind the
					content panel.
				 */
				.TabbedPanelsTab{
					position:relative;
					top:-5px;
					float:left;
					margin:0;
					padding:0;
					font-size:11px;
          background:transparent url(images/view-switches.png) 0 0 no-repeat;
					border:none;
					list-style:none;
				}

				/*
					From Spry CSS Notes:
					This selector is an example of how to change the appearnce of a tab button
					container as the mouse enters it. The class "TabbedPanelsTabHover" is
					programatically added and removed from the tab element as the mouse enters
					and exits the container.
				 */
				.TabbedPanelsTabHover{}

				/*
					From Spry CSS Notes:
					This selector is an example of how to change the appearance of a tab button
					container after the user has clicked on it to activate a content panel.
					The class "TabbedPanelsTabSelected" is programatically added and removed
					from the tab element as the user clicks on the tab button containers in
					the widget.

					As mentioned above, for our default style, tab buttons are positioned
					1 pixel down from where it would normally render. When the tab button is
					selected, we change its bottom border to match the background color of the
					content panel so that it looks like the tab is part of the content panel.
				 */
				.TabbedPanelsTabSelected{}

				/*
					From Spry CSS Notes:
					This selector is an example of how to make a link inside of a tab button
					look like normal text. Users may want to use links inside of a tab button
					so that when it gets focus, the text *inside* the tab button gets a focus
					ring around it, instead of the focus ring around the entire tab.
				 */
				.TabbedPanelsTab a {
					color: #FFFFFF;
					text-decoration: none;
				}
				#tab-friends                                {}
				#tab-friends:active                         { background-position:0 -22px; }
				#tab-friends.TabbedPanelsTabSelected        { background-position:0 -44px; }
				#tab-user                                   { background-position:-31px 0; }
				#tab-user:active                            { background-position:-31px -22px; }
				#tab-user.TabbedPanelsTabSelected           { background-position:-31px -44px; }
				#tab-public                                 { background-position:-31px 0; }
				#tab-public:active                          { background-position:-31px -22px; }
				#tab-public.TabbedPanelsTabSelected         { background-position:-31px -44px; }
				#tab-search                                 { background-position:-62px 0; }
				#tab-search:active                          { background-position:-62px -22px; }
				#tab-search.TabbedPanelsTabSelected         { background-position:-62px -44px; }
        #tab-friendslist                            { background-position:-93px 0; margin-left:9px; }
        #tab-friendslist:active                     { background-position:-93px -22px; }
        #tab-friendslist.TabbedPanelsTabSelected    { background-position:-93px -44px; }
				#tab-prefs                                  { background-position:-93px 0; position:absolute; right:0; margin-left:15px; }
				#tab-prefs:active                           { background-position:-93px -22px; }
				#tab-prefs.TabbedPanelsTabSelected          { background-position:-93px -44px; }
				
					/* The image in the tab itself */
					.tab-icon{
						display:block;
						width:31px;
						height:22px;
						cursor:default;
					}
				    #tab-friends .tab-icon                              { background:url(images/tab-icon-timeline.png) 6px 3px no-repeat; }
				    #tab-friends.TabbedPanelsTabSelected .tab-icon      { background:url(images/tab-icon-timeline-selected.png) 3px 0 no-repeat; }
				    #tab-user .tab-icon                                 { background:url(images/tab-icon-user.png) 7px 4px no-repeat; }
				    #tab-user.TabbedPanelsTabSelected .tab-icon         { background:url(images/tab-icon-user-selected.png) 4px 1px no-repeat; }
				    #tab-public .tab-icon                               { background:url(images/tab-icon-public.png) 8px 3px no-repeat; }
				    #tab-public.TabbedPanelsTabSelected .tab-icon       { background:url(images/tab-icon-public-selected.png) 5px 0 no-repeat; }
				    #tab-search .tab-icon                               { background:url(images/tab-icon-search.png) 7px 4px no-repeat; }
				    #tab-search.TabbedPanelsTabSelected .tab-icon       { background:url(images/tab-icon-search-selected.png) 5px 1px no-repeat; }
				    #tab-friendslist .tab-icon                          { background:url(images/tab-icon-following.png) 7px 5px no-repeat; }
				    #tab-friendslist.TabbedPanelsTabSelected .tab-icon  { background:url(images/tab-icon-following-selected.png) 4px 1px no-repeat; }
				    #tab-prefs .tab-icon                                { background:url(images/tab-icon-prefs.png) 6px 3px no-repeat; }
				    #tab-prefs.TabbedPanelsTabSelected .tab-icon        { background:url(images/tab-icon-prefs-selected.png) 3px 0 no-repeat; }

			/*
				These are the content panels, wrapped inside a single container div
				
				From Spry CSS Notes:
				This is the selector for the ContentGroup. The ContentGroup container houses
				all of the content panels for each tabbed panel in the widget. For our
				default style, this container provides the background color and borders that
				surround the content.
			*/
			#timeline-tabs-content,
			.TabbedPanelsContentGroup{
				position:absolute;
        left:0;
				right:0;
        top:60px;
/*        bottom:90px;*/
				bottom:94px;
				clear:both;
				background-color:#FFFFFF;
			}

				/* This is the selector for the Content panel. The Content panel holds the
				 * content for a single tabbed panel. For our default style, this container
				 * provides some padding, so that the content is not pushed up against the
				 * widget borders.
				 *
				 * The name of the class ("TabbedPanelsContent") used in this selector is
				 * not necessary to make the widget function. You can use any class name you
				 * want to style the Content container.
				 */
				.TabbedPanelsContent{
					margin:0px;
					padding:0px;
				}

				/* This selector is an example of how to change the appearnce of the currently
				 * active container panel. The class "TabbedPanelsContentVisible" is
				 * programatically added and removed from the content element as the panel
				 * is activated/deactivated.
				 */
				.TabbedPanelsContentVisible{}

					/*
						The panelmenu appears at the top of each timeline
					*/
					.panelmenu{
            height:34px;
            background:#000 url(images/panel-menu-bg.png) 0 0 repeat-x;
					}
						.panelmenu form{
  					  position:relative;
							margin:0 7px 0;
							padding:4px 0 0;
							line-height:9px;
              text-align:left;
            }
  						.panelmenu form input{
  							font-size:10px;
                margin:2px 0 2px;
  						}
							.panelmenu form input[type='button']{
                width:48px;
                height:21px;
                background:transparent url(images/panel-menu-button.png) 0 0 no-repeat;
                border:0;
								color:#f1f1f1;
								-khtml-border-radius:0;
							}
							.panelmenu form input[type='button']:hover{
                background-position:0 -21px;
								color:#FFF;
							}
							.panelmenu form input[type='button']:active{
							  background-position:0 -42px;
							}
			        .panelmenu form input[type='text']{
			          position:absolute;
			          right:0;
			          top:5px;
                width:60px;
                height:19px;
                padding:0 10px 0 20px;
                background:transparent url(images/panel-menu-search-bg.png) 0 0 no-repeat;
                  /* Instead of this custom background, the HTML should really use `<input type="search">` */
                border:0;
                color:#828282;
              }
              #panel-user .panelmenu form input[type='text'],
              #panel-public .panelmenu form input[type='text'],
              #panel-search .panelmenu form input[type='text']{
                width:100px;
                background-image:url(images/panel-menu-search-wide-bg.png);
              }
          		.panelmenu form input[type='text']:focus{
          		  color:#0f0f0f;
                  /* TODO: Add blue glow if input[type] can't be changed to "search" */
          		}
          		  div#panel-search .panelmenu form{
          		    text-align:right;
          		  }
          		  div#panel-search .panelmenu form input{
          		    position:static;
          		    text-align:center;
          		  }
          		  div#panel-search .panelmenu form input#search-for{
          		    text-align:left;
          		  }
          		  div#panel-search .panelmenu form input#search-go{
          		    width:28px;
          		    background-image:url(images/panel-menu-button-small.png);
          		  }
          		  div#panel-search .panelmenu form input#search-help{
          		    float:left;
          		  }
			        

					/*
						This wraps to provide scrolling for div.timeline
					*/
					.timeline-wrapper{
						overflow:auto;
						position:absolute;
						top:34px;
						left:0px;
						right:0px;
						bottom:0px;
					}
					#timelinewrapper-prefs {
						top:0px;
					}
					
						/*
							The .timeline divs are all inside .TabbedPanelsContent divs
						*/
						div.timeline {
							background:transparent url('images/dropshadow.png') 0 0 repeat-x;
							padding:0px;
							margin:0px;
						}


							/*
								This is effectively dead since the Twitter API doesn't support paging anymore.
								Still, I'm keeping it in in case we ever re-enable some sort of paging.
							*/
							div.timeline-pager {
								background-color: #555555;
								color:#ffffcc;
								position:absolute;
								bottom: 90px;
								left:   10px;
								right:  10px;
								height: 11px;
								padding:2px;
								font-size: 8px;
								border-top:   1px solid #555555;
								border-bottom:1px solid #555555;
							}
							div.timeline-pager a {
								color:#ffffcc;
							}
							div.timeline-pager-left {
								position:absolute;
								left: 4px;
								top: -4px;
								font-size:16px;
							}
							div.timeline-pager-info {
								text-align:center;
							}
							div.timeline-pager-right {
								position:absolute;
								right: 4px;
								top:  -4px;
								font-size:16px;
							}

		/*
			The entryform contains the #entrybox textarea input for posts and the #updateButton
		*/
		#entryform {
			position:absolute;
			margin:0;
			padding:0;
      bottom:28px;
			left:0;
			right:0;
			height:66px;
			background:#bdbdbd url(images/entry-form-bg.png) 0 0 repeat-x;
			z-index:10;
		}
			/*
				This is a Spry textarea widget
			*/
			#entrybox{
				bottom:0px;
				position:absolute;
        margin:0;
				left:4px;
				right:5px;
				height:42px;
				font-size:11px;
				overflow:auto;
				padding:5px 5px 15px 5px;
				text-align:left;
        background:#f0f0f0 url(images/text-input-bg.png) 0 0 no-repeat;
        border:none;
			}
				/* the hint shown when the widget does not have focus */
				.textareaHintState{
					color:#828282;
				}
				/* Formatting for when the textarea has focus */
				.textareaFocusState,
				#entrybox:focus{
				  background-color:#ffffff;
					color:#000000;
				}
			
			/*
				This is the counter for number of chars entered
			*/
			#entrystats{
				position:absolute;
				bottom:0;
				left:8px;
				color:#828282;
				font-size:9px;
        opacity:1;
				z-index:100;
			}


			/*
				The button to submit the post. This can be hidden completely, and the user can still
				hit ENTER to send, so it's not really necessary
			*/
			#updateButton{
			  display:none;
			}
			
			
		/*
			The bar at the bottom of the app that displays info
		*/
		#statusbar{
			position:absolute;
			left:0;
			right:0;
			bottom:0;
      height:14px;
			padding:7px 20px 7px 6px;
			overflow:hidden;
      background:transparent url(images/status-bar-bg.png) 0 0 repeat-x;
			color:#000;
			font-size:10px;
			text-align:center;
			text-shadow:0 1px 1px #fff;
			white-space:nowrap;
			-khtml-border-bottom-left-radius:4px;
			-khtml-border-bottom-right-radius:4px;
		}
			/*
				The wrapper for the little loading animation
			*/
			#loading{
				float:right;
        display:none;
				width:16px;
				height:16px;
				margin-left:4px;
				background:url('images/loading.gif') no-repeat;
			}
			#statusbar-text{
			  position:absolute;
			  left:8px;
			  right:20px;
			  overflow:hidden;
			  text-overflow:ellipsis;
			}
			span.statusbar-username{
				font-weight:bold;
			}


		/*
			The little resizing widget. This is totally misnamed (it should be "se" and not "sw")
			but I'm kind of an idiot.
		*/
		#resize-sw{
			position:absolute;
			bottom:4px;
			right:4px;
			font-size:12px;
			background-image:url(images/resize.png);
			text-align:center;
			width:12px;
			height:12px;
		}






	/*
		Tooltips, those little popup messages that appear when you float over links and some other junk
	*/
	#tooltip {
		background-color: rgba(0,0,0,.8);
		color:#FFFFFF;
		font-size:10px;
		padding:5px !important;
		border:0px solid black;
		opacity:1.0;
		position:fixed;
		z-index:1000;
		top:1px;
		left:1px;
		-khtml-border-radius:5px;
		display:none;
		min-width:100px;

	}
		#tooltip h3, #tooltip div {
			margin:0;
			font-weight:normal;
			font-size:inherit;
		}
		  #tooltip div.latest{
		    margin:1em 0 0;
		  }



	/*********************************************
		context menus
		- not sure that these will continue to be used, if native versions can work okay
	*/
	div.context-menu {
		position:fixed;
		z-index: 1010;
		font-size:10px;
		font-weight: normal;
		top:10px;
		left:10px;
		overflow: auto;
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,.8);
		background-repeat: repeat-x;
		color:#333333;
		-webkit-box-shadow:0px 0px 6px #333333;
		display:none;
		padding:5px;
		opacity:1.0;
		-khtml-border-radius:5px;
	}
		div.context-menu ul {
			padding:0;
			margin:0;
			list-style: none;
		}
			div.context-menu li {
				list-style: none;
				padding:4px;
			}
				div.context-menu li:hover {
					background-color:#333333;
					color:#ffffff;
					cursor: pointer;
					-khtml-border-radius:5px;
				}








/*************************************************
	Timeline entries are... entries in the timelines
*/
div.timeline-entry{
  position:relative;
	padding:10px 5px;
	clear:both;
	overflow:hidden;
}
div.timeline-entry:hover{
  opacity:1;
}
	/*
		Entries that are replies directed at the user
	*/
	div.timeline-entry.reply{
    border-top:1px solid #fdec64;
    background:#ffffba url(images/timeline-entry-mention-bg.png) 0 0 repeat-x;
	}
	/*
		Entries that are direct messages to the user
	*/
	div.timeline-entry.dm{
    border-top:1px solid #f99;
    background:#fcc url(images/timeline-entry-dm-bg.png) 0 0 repeat-x;
	}
	/*
		Entries that have been "read" (selected and then deselected)
	*/
	div.timeline-entry.read{}
	div.timeline-entry.read:not(.ui-selected){
    max-height:25px;
    padding-top:5px;
    padding-bottom:5px;
  }
	div.timeline-entry.read:hover{
	  opacity:1;
	}
		div.timeline-entry.read:not(.ui-selected) .status-text{
      margin-top:5px; /* Show only status text */
      margin-bottom:99px;
		  overflow:hidden;
			color:#999;
			text-overflow:ellipsis;
			white-space:nowrap;
		}
		div.timeline-entry.read.reply .status-text,
		div.timeline-entry.read.dm .status-text{
		  color:#666;
		}
		div.timeline-entry.read.ui-selected .status-text{
			color:#f0f0f0;
		}
    div.timeline-entry.read:not(.ui-selected) div.user{
      overflow:hidden;
      opacity:0.5;
      white-space:nowrap;
    }
    div.timeline-entry.read:not(.ui-selected) div.user img.user-image{
      width:24px;
      height:24px;
    }
    div.timeline-entry.read:not(.ui-selected) div.user div.user-screen-name{
      display:none;
    }

	/*
		Selected entries
		the .ui-selected class name comes from the one used by the jQuery.ui selectables plugin
		We don't actually use that here, but it was experimented with, and may return sometime
	*/
	div.timeline-entry.ui-selected{
    background:#0076df url(images/timeline-entry-selected-bg.png) 0 0 repeat-x;
    border-top:0;
		color:#f0f0f0;
	}
		div.timeline-entry.ui-selected div.status-link{
			font-size:9px;
			color:#CCCCCC;
		}
		div.timeline-entry.ui-selected a,
		div.timeline-entry.ui-selected a:link,
		div.timeline-entry.ui-selected .clickable{
      color:#fff;
			cursor:pointer;
			font-weight:bold;
			text-shadow:1px 1px 1px #000;
		}
		div.timeline-entry.ui-selected div.user{}
		div.timeline-entry.ui-selecting{
			background-color: #666666 !important;
		}

	/*
		A container for the avatar image and the user's screen name
	*/
	div.user{
		position:relative;
		float:left;
		width:65px;
		margin-right:5px;
		overflow:visible;
		text-align:center;
	}

		img.user-image{
			margin-bottom:2px;
			background:#fff url(images/userimg-bg.png) center center no-repeat;
      /* border:1px solid #999999; */
			-webkit-box-shadow:0px 1px 5px #333;
		}

		div.user-screen-name{
			font-size:10px;
			overflow:hidden;
		}
		div.user-screen-name:hover{
			text-decoration:underline;
		}

	/*
		This is the container for the "status", which is the message posted + some metadata about it + some action links
	*/
	div.status{
		margin:0 0 0 70px;
		padding:0;
		font-size:11px;
	}
		/*
			This is the actual text of the posting
		*/
		div.status-text{
			font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
			margin-bottom:4px;
		}
		/* the container for the "actions" for this post, like reply, dm, delete, fav, etc */
		div.status-actions{
      position:absolute;
      right:4px;
      bottom:4px;
      display:none;
		  background:rgba(0, 0, 0, 0.5);
			font-size:10px;
		  -webkit-border-radius:10px;
		}
		div.timeline-entry:hover div.status-actions{
		  display:block;
		}
		div.timeline-entry.read div.status-actions{
		  display:none;
		}
		div.timeline-entry.ui-selected div.status-actions{
		  display:block;
		}
	    .status-action,
	    .status-action-del{
        display:inline-block;
        width:23px;
        height:20px;
        margin:0 0 0 -8px; /* Reduce spacing */
        background-color:transparent;
        background-position:0 0;
        background-repeat:no-repeat;
        vertical-align:middle;
	    }
	    .status-action:hover,
	    .status-action-del:hover{
	      background-position:0 -20px;
	    }
	      .status-action:first-child{
	        margin-left:0;
	      }
		    .status-action-fav      { background-image:url(images/status-fav-off.png); }
	 			div.timeline-entry.favorited .status-action-fav{ background-image:url(images/status-fav-on.png); }
		    .status-action-retweet  { background-image:url(images/status-retweet.png); }
		    .status-action-dm       { background-image:url(images/status-dm.png); }
		    .status-action-reply    { background-image:url(images/status-reply.png); }
		    .status-action-del      { background-image:url(images/status-delete.png); text-indent:-9999em; }

		/* the container for the "permalink" to the post */
		div.status-link{
			font-size:9px;
			color:#666666;
		}
		  /* the link to the relative time of the posting. this is the permalink */
			a.status-created-at{}
			/* the text that says "from Foobar" */
			.status-source{
			  display:block;
			}
			/* the text with the name of the posting source ("Foobar") */
			.status-source-label{}
			/* the icon that indicates this is a protected post */
			span.status-protected{
        height:12px;
        padding:0 6px; /* width doesn't matter on inline element, so use padding to force width */
				background:url('images/icon-lock.png');
			}


.friendslist-row{
  min-height:30px;
	padding:8px;
	clear:both;
	font-size:8pt;
}
  .friendslist-row .directory-user-followstatus{
    float:right;
    height:10px;
    background:transparent 0 0 no-repeat;
    text-indent:-9999em;
  }
  .friendslist-row .directory-user-followstatus[rel=mutual]{
    width:60px;
    background-image:url(images/followstatus-mutual.png);
  }
  .friendslist-row .directory-user-followstatus[rel=follower]{
    width:61px;
    background-image:url(images/followstatus-follower.png);
  }
  .friendslist-row .directory-user-followstatus[rel=following]{
    width:44px;
    background-image:url(images/followstatus-friend.png);
  }
	.friendslist-row .directory-user{
	  margin-top:-2px;
	}
		.directory-user .user-image{
			float:left;
			background-color:#dddddd;
			/* border:1px solid #999; */
			width:30px;
			height:30px;
			margin:0 5px 0 0;
			-webkit-box-shadow:none;
		}
		.directory-user .directory-user-name{
			font-size:16px;
			letter-spacing:-1px;
		}
		  .directory-user .directory-user-name div.name a{
        color:#666;
        font-size:0.675em;
        font-weight:bold;
        text-transform:uppercase;
      }
		.directory-user .directory-user-name,
		.directory-user .directory-user-info{
		  margin-left:44px;
		}
		.directory-user .directory-user-info{
		  margin-top:0.5em;
		  overflow:auto;
		}
		  .directory-user .directory-user-info .clickable{
		    opacity:0.75;
		  }
		  .directory-user .directory-user-info .clickable:hover{
		    opacity:1;
  		  text-decoration:underline;
		  }
  		.directory-user .directory-user-location,
  		.directory-user .directory-user-homepage{
		    float:left;
		    clear:left;
		  }




/*************************************************
	All about the PREFERENCES panel
*/
#prefs-form {
	font-size:11px;
	margin:0px 10px;
	padding:10px;
}

	/*
		The Prefs form contains a collapsible panel group Spry widget
	*/
	#prefsCPG, .CollapsiblePanelGroup {}
		
		.CollapsiblePanel {}
		
		.CollapsiblePanelClosed {}
		
		/* make the title tab darker when the panel is open */
		#prefs-form .CollapsiblePanelOpen h2.CollapsiblePanelTab {
			color:#333333;
		}

			/*
				The tab is the clickable title that opens and closes the panel
			*/
			#prefs-form h2.CollapsiblePanelTab {
				font-weight:bold;
				font-size:13px;
				color:#999999;
				border-bottom:2px solid #999999;
				cursor: pointer;
				padding-bottom:2px;
				padding-top:8px;
				margin-bottom:0px;
			}
				#prefs-form h2.CollapsiblePanelTabHover {
					color:#666666;
				}

			
			/*
				The panel that actually contains stuff
			*/
			#prefs-form .CollapsiblePanelContent {
				margin:   0px;
				padding: 10px;
				border-bottom: 2px solid #D0D0D0;
				clear:both;
				background-color: #F0F0F0;
				overflow: hidden;
			}




				/*
					The div.formrows wrap each pref gui piece
				*/
				div.formrow {
					clear:both;
					margin-bottom:5px;
				}                    
                    
					#prefs-form label {
						min-width:80px;
						text-align:left;
						font-weight:bold;
						display:block;
					}
					#prefs-form label.checkbox {
						float: none;
						padding:0;
						margin:0 0 0 1px;
						display:inline;
					}

                    #prefs-form fieldset {
                        border-left-width: 0px;
                        border-right-width: 0px;
                        border-bottom-width: 0px;
                        padding:5px 0 5px 3px;                        
                        margin: 10px 0 0 0;                        
                    }

                        #prefs-form legend {
                            font-weight:bold;
                        }

                        #prefs-form fieldset label {
                            font-weight:normal;
                        }

					/*
						Buncha junk for various form fields, really only used in the Preferences section
					*/
					#prefs-form input[type='password'],
					#prefs-form input[type='text'],
					#prefs-form select {
						border:1px solid #666;
						padding:4px;
						width:90%;
					}
					#prefs-form input[type='checkbox'] {
						vertical-align:-20%;
					}
					#prefs-form option {
						font-family:sans-serif;
						size:10px;
					}
					input[type='button'], input[type='submit'] {
						background-color:#666666;
						color:#FFFFFF;
						-khtml-border-radius:5px;
						border:2px solid #333333;
						font-size:10px;
						cursor:pointer;
						padding:3px;
					}
						input[type='button']:focus, input[type='submit']:focus,
						input[type='button']:hover, input[type='submit']:hover {
							background-color:#111111;
							border-color:#444444;
							color:#FFFFFF;
						}

                    input[type="text"]:focus,
                    input[type="password"]:focus,
                    textarea:focus {
                        background-color:#FFFFCC;
                    }
                    
                    
					/*
						A few specific pref "widgets" need special formatting
					*/
					input[type='text']#prefs-user-stylesheet {
						width:80px;
					}
					input[type='text']#network-refreshinterval {
						width:20px;
					}
               input[type='text']#dock-refreshinterval {
                  width:30px;
               }
					input[type='text']#window-alpha {
						width:30px;
						text-align:right;
					}
					#prefs-user-stylesheet-button, #prefs-user-stylesheet-clear {
						padding:2px;
						font-size:10px;
						margin:0px;
					}

	/*
		The update/save prefs button sits outside the panel group
	*/
	#prefs-update-button {
		font-size:13px;
	}








/*
	Tables should look pretty
*/
table.data {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:5px;
	border-top:3px solid #333333;
	border-bottom:1px solid #333333;
	border-collapse:collapse;
	width:100%;
}
	table.data th {
		background-color:#202020;
		color:#DDDDDD;
		font-size:9px;
		font-weight:bold;
		text-align:left;
		padding:4px;
	}

	table.data tr {
		border-top-style: solid;
		border-top-width: 1px;
	}

		table.data tr:hover {
			background:#FFFFCC;
		}

	table.data td {
		font-size:10px;
		padding:4px;
		text-align:left;
	}

		table.data td.label {
			font-weight:bold;
			text-align:right;
			border-right:1px solid #999999;
		}
		table.data td.label:after { /*content:":";*/ }
		table.data td.value {
			padding:2px;
		}










/*
	I think this is needed by some widgets. Maybe not?
*/
.SpryHiddenRegion {
	visibility:hidden;
}




